.profile {
  & .profile-title {
    font-size: 22px;
    line-height: 18px;
    font-weight: bold;
    margin-bottom: 24px;
    text-align: center;
  }

  & .profile-info {
    display: flex;
    justify-content: space-around;
  }

  & .profile-avatar {
    display: flex;
    flex-direction: column;
  }

  & .profile-form__password {
    display: flex;
    & div:first-child {
      margin-right: 12px;
    }
  }

  & .profile-avatar img,
  & .profile-form__password {
    margin-bottom: 12px;
  }

  & .profile-form {
    max-width: 350px;
    width: 100%;
  }
}
