#lightbox-form {
	position: absolute;
	z-index: 15;
	display: none;
	background-color: white;
	font-size: 10px;
	width: 500px;

	.lightbox-header {
		background: #5142AB;
		display: flex;
		width: 100%;
		padding: 10px;
		gap: 10px;
		color: white;
		font-size: 16px;
	}

	.lightbox-content {
		display: flex;
		flex-direction: column;
		width: 100%;
		padding: 10px;
		gap: 20px;

		.line {
			width: 100%;
			display: flex;
			align-items: center;
			gap: 10px;

			p {
				font-family: 'Mulish', sans-serif;
				font-style: normal;
				font-weight: 300;
				font-size: 12px;
				line-height: 18px;
				letter-spacing: 0.2px;
				color: #000000;
			}

			.name {
				font-family: 'Mulish', sans-serif;
				font-style: normal;
				font-weight: 600;
				font-size: 16px;
				line-height: 18px;
				letter-spacing: 0.2px;
				color: #000000;
			}
		}
	}

	.footer-container {
		display: flex;
		width: 100%;
		border-top: 1px solid black;
		padding: 5px;
		justify-content: space-between;
	}
}
