.logo {
    padding: 12px 39px;
    color: var(--text-secondary);
    max-width: 250px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    border-radius: 8px;
    background-color: var(--background-secondary);
}